<% if user_signed_in? %>
<%# <div class="monster">
  <h2  id="monster">ゴブリンが現われた</h2>
</div>
<div class="start">
<%= image_tag 'gettyimages-165590923-612x612.jpg', class: 'hoge' %>
  <%# <%= link_to "戦闘開始","/diceroll/show", id: "start"%> 
<%# <%= image_tag 'gettyimages-165590923-612x612.jpg', class: 'hoge' %> 
<%# </div> %> 
<%= link_to "新規登録", new_status_path %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "ログイン", new_user_session_path, class: 'post' %>
<%= link_to "新規登録", new_user_registration_path, class: 'post' %>
<% end %>