<div>
  <%= form_with(model: @characters, local: true) do |f| %>
    <div>
     <input type="hidden" name="character[user_ids][]" value=<%="#{current_user.id}"%>>
      <%= f.label :name, "Name"%>
      <%= f.text_field :name, placeholder: "Name" %>
      <%= f.hidden_field :id %>
    </div>
    <div>
      <%= f.label :gold, "Gold"%>
      <%= f.text_field :gold, placeholder: "Gold" %>
      <%= f.hidden_field :id %>
    </div>
    <div>
      <%= f.fields_for :status do |s| %>
        <%= s.label :life, "Life" %>
        <%= s.text_field :life, placeholder: "Life" %>
        <%= s.hidden_field :id %>
      <% end %>
    </div>
    <div>
      <%= f.submit "SEND" %>
      <%= link_to "戻る", characters_path %>
    </div>
      
  <% end %>
</div>